<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestätigung der Anmeldung</title>
</head>

<body>
    <h2>Sehr geehrte Erziehungsberechtigte, <br/> liebe BewerberInnen!</h2>

    <p>Sie haben sich erfolgreich bei der HTL-Saalfelden angemeldet.</p>
</body>

</html>