<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestätigung der Anmeldung</title>
</head>

<body>
    <h2>Sehr geehrte Erziehungsberechtigte, <br/> sehr geehrte BewerberInnen!</h2>

    <p>Wir bedanken uns, dass Sie sich für eine Anmeldung an unserer Schule entschieden haben!</p>
    <p>Bitte beachten Sie, dass die Anmeldung erst gültig wird, wenn Sie die Original-Schulnachricht im Sekretariat der HTL Saalfelden bzw. HTL Saalfelden - Außenstelle St. Johann im Pongau abgeben. Die Öffnungszeiten des Sekretariats während des Anmeldezeitraums entnehmen Sie bitte der Homepage.</p>

    <p>
        HTL Saalfelden<br/>
        Sekretariat<br/>
        Almerstraße 33<br/>
        5760 Saalfelden
    </p>

    <p>phone: +43 6582 72568</p>
    <p>mailto: <a href="mailto:info@htl-saalfelden.at">info@htl-saalfelden.at</a></p>
    <p><a href="http://www.htl-saalfelden.at">www.htl-saalfelden.at</a></p>

    <img src="cid:ee41a8ed-bbb8-4612-b7f5-064e89621d9f" alt="Mint-Gütesiegel" width="300">
</body>

</html>