<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bestätigen der Emailadresse</title>
</head>

<body>
    <h2>Sehr geehrte Erziehungsberechtigte, <br/> liebe BewerberInnen!</h2>

    <p>Mit dem folgenden Zugangslink erreichen Sie die Plattform zur online-Anmeldung. Bitte bewahren Sie diese E-Mail und ihre Zugangsdaten auf.</p>
    <a href="{{confirmationUrl}}">{{confirmationUrl}}</a>
</body>

</html>