<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bestätigen der Emailadresse</title>

</head>

<body>
    <h2>Willkommen auf dem Anmeldeportal der HTL-Saalfelden</h2>
    <p>Bitte bestätige Sie ihre Email mit einem Klicken auf den folgenden Link:</p>
    <a href="{{confirmationUrl}}">{{confirmationUrl}}</a>
</body>

</html>