
$alert-padding-y: 0.5rem;

@import '~bootstrap/scss/bootstrap';
@import '~react-datepicker/src/stylesheets/datepicker';

:root,
[data-bs-theme=light] {
    --bs-form-invalid-background-color: #dc35451c;
    --bs-form-valid-background-color: #dc35451c;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;

    img {
        height: 33px;
    }
}

.form-select-group .is-invalid > div {
    border-color: #dc3545;
}